/* Cook Creek - style sheet */

/* some universal styles first */

    * {
        font-family: 'M PLUS 1p', sans-serif;
        margin: 0;
        line-height: 1.5;
        /* font-family: 'Quicksand', sans-serif; */
    }

    .container {
        padding: 10px;  
    }

    p {
    color: rgb(64, 64, 64);
    font-weight: 300;
    }

    h2, h1 {
        color:rgb(111, 41, 16);
        font-weight: 300;
    }

    .wide {
        grid-column: span 2;
        padding: 0;
    }

    a, a:visited {
        text-decoration: none;
        color:rgb(111, 41, 16);
        transition: .5s ease-in-out;
        font-size: 18px;
        font-weight: 300;
    }

    a:hover {
        color: #0c0c0c;
    }

    a.button {
        box-sizing: border-box;
        padding: 10px 60px; 
        border: .5px solid rgb(111, 41, 16);
        text-transform: uppercase;
        font-size: smaller;
    }

    a:hover.button   {
        color:white;
        background-color: rgb(111, 41, 16);
        transition: .7s ease-in-out;
    } 

    ul {
        list-style: none;
    }

/* header nav styles (and a few more universal applications) */

    .logo-container {
        margin: 0;
    }

    .logo {
         width: 150px;
    }

    .header {
        font-weight: 400;   
        grid-column: span 2;
    }

    .nav-container {
        padding: 10px 20px 0 10px;
    }

    .nav-container, ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .nav-toggle {
        display: none;
        font-size: 35px;
    }

/* body styles - home page */

    .grid-it-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .hero {
        align-items: center;
        /* background-image: url('../images/ineedahero_masked.jpg'); */
        background-image: url('../images/ineedahero.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        grid-column: span 2;
        height: 100vh; 
    }

    .quote {
        /* font-family: 'Bad Script', cursive; */
        font-style: italic;
        font-size: 1.5rem;
        color: rgb(64, 64, 64);
    }

    .quote-box {
        padding: 50px 50px 50px 70px;
        width: 300px;
        background-color:rgba(250, 235, 215, 0.784);
        border-radius: 50% 30% 40% 20%; 
        margin-right: 50px;
    }

    .our-home {
        margin-top: 100px;
        margin-bottom: 80px;
        grid-column: span 2;
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
        text-align: center; 
    }

    .home-message {
        text-align: justify;
        font-size: larger;
    }

    .house-features {
        grid-column: span 2;
        text-align: center;
        padding-bottom: 100px;
    }

    .features-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px;
        color: rgb(64, 64, 64);
        font-size: 20px;
        opacity: .10; 
        transition: opacity 1.25s ease-out;
        padding: 0;
    }

    .icon-text {
        font-size: 15px;
        font-weight: 300;
    }

    .features-list.appear {
        opacity: 1;
    }

    .nav-callout {
        grid-column: span 2;
        text-align: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .nav-callout p {
        padding-bottom: 30px;
        opacity: 80%;
    }

    .nav-callout p:nth-child(2) {
        padding-bottom: 5px;
    }

    .double-plain {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    }

    .double-plain-image {
        text-align: center;
    }

    .slide-in-image {
        max-width: 80%;
        filter: drop-shadow(1px 9px 8px gray);
        border-radius: 3px;
    }

    h2.double-plain-header {
        padding-bottom: 20px; 
    }

    .double-plain-header a {
        font-size: 25px;
    }

    .double-plain-text {
        text-align: justify;
        padding-bottom: 10px;
        font-weight: 300;
    }

/* slide in fade stuff from index page - start */

    .from-left {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);      
    }

    .from-right {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }

    .from-left,
    .from-right {
        transition: opacity .5s ease-in, transform 400ms ease-in;
        opacity: 0;
    }

    .from-left.appear,
    .from-right.appear {
        transform: translateX(0);
        opacity: 1;
    }

/* flickity index page */
/* external css: flickity.css */

    .image-slider {
        grid-column: span 2;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .main-carousel {
        box-sizing: border-box;   
    }
    
    .carousel-cell > img {
        display: block;
        max-width: 100%; 
        height: auto;
    }

    .carousel-cell  {
        width: 66%;
        max-height: 500px;
        padding: 1rem;
        border-radius: 5px;
        overflow: hidden;
    }


/* LARGE text section at top of pages */

    .page-top-highlight {
        padding-right: 30%;
        padding-left: 15px;
        min-height: 70px;
        padding-bottom: 20px;
    }

    .page-top-highlight > h1 {
        font-weight: 300;
        text-align: left;
        opacity: 90%;
        text-transform: uppercase;
        padding-top: 20px;
        font-style: italic;
        padding-right: 20%;
    }

    .page-top-highlight > h2 {
        font-weight: 200;
        text-align: left;
        opacity: 90%;
        text-transform: uppercase;
        color:rgb(64, 64, 64);
    }

/* body styles - gallery page */

    .grid-it-photos {
        display: block;
    }

    .gallery-display-row > h2 {
        padding: 10px 0 20px 5px;
    }

    .gallery-display-row-alt {
        border-bottom: .5px solid rgb(111, 41, 16);
        padding: 20px 0;
        margin: 10px 200px;
        text-align: center;
    }

    .gallery-display-row-alt > h2 {
        padding: 10px 0 20px 5px; 
    }

    .large-img-description {
        display: flex;
        max-width: 100vw;
        gap: 40px;
        padding: 40px 50px 10px 15px;
    }

    .featured {
        max-width: 50%;
        height: auto; 
        filter: drop-shadow(8px 15px 15px rgb(149, 149, 149));
        border-radius: 2px;
    }

    .featured-text {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }

    .featured-text > h2 {
        padding-bottom: 15px;
        padding-top: 20px;
        text-transform: uppercase;
        font-weight: 300;
    }

    .featured-text > ul {
        font-weight: 200;
        color: rgb(3, 3, 3);
    }

    .featured-text > p {
        opacity: 90%;
        color: rgb(64, 64, 64);
    }
    .thumbs-image-row {
        padding: 40px 10px 40px 15px;
    }

    .gallery-thumb {
        max-width: 15%;
        height: auto; 
        border-radius: 1px;
    }

    .thumbs-image-row:last-child {
        padding-bottom: 40px;
    }

    .home-deets {
        padding-top: 15px;
        display: block;
        color: rgb(64, 64, 64);
        list-style: inside;
        list-style: circle; 
    }

/* body styles - discover page */

    .grid-it-discover {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .divide {
        grid-column: span 2;
    
    }

    .to-do-image-box {
        padding: 20px; 
        display: grid; 
        align-items: center; 
        text-align: center;
    }

    .to-do-list-box {
        background-color: linen;
        margin: 30px 30px 30px 30px;
        display: grid; 
        align-items: center; 
    }

    .to-do-image > img {
        max-height: 85vh;  
    }

    .to-do-links {
        padding-top: 30px;
        padding-bottom: 60px;
        text-align: center;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .to-do-links > h2 {
        padding: 10px 0 10px 0;
        margin-bottom: 20px;
        opacity: 70%;
        text-align: center;
        border-bottom: .5px solid gray;
        margin-right: 100px;
        margin-left: 100px;
    }

    .blurb {
        text-align: justify;
    }

    .to-do-list {
        display: flex;
        flex-direction: column;
    }

    ul.to-do-list {
        padding: 0;
    }

    .to-do-list a {
        font-weight: 300;
    }

    .to-do-list p {
        font-weight: 200;
        color: rgb(64, 64, 64);
        padding-top: 8px;
    }

/* fade in images */

.to-do-image {
    opacity: .10; 
    transition: opacity 1s ease-out;
}

.to-do-image.appear {
    opacity: 1;
}

/* footer styles */


    .footer {
        min-height: 80px;
        background-color: linen;
        grid-column:span 2;
        text-align: center;
        font-size: 12px;
        padding-bottom: 20px;
        margin-top: 30px;
    }

    .reach-us {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 20px 20px 10px 20px;
        height: 40px;
    }

    .reach-us a {
        font-size: 25px;     
    }

    ul.footer-menu {
        gap: 20px;
        justify-content: center;  
        padding-bottom: 18px; 
        padding-inline-start: 0px;
    }

    ul.footer-menu a {
        font-size: 15px;
    }

    hr {
        display: none;
    }




/* Extra small devices (phones, 600px and down) */

    @media only screen and (max-width: 600px) {

        .grid-it-index {
            display: block;
        }

        .container {
            padding: 10px 0;
        }
          
    /* toggle and nav styling */
    
          .nav-toggle {
            display: block;
        }

        .nav-hide {
            display: none;
        }

        .nav-nav, li {
            margin-bottom: 5px;
        }

        .nav-main {
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
        }

        .nav-main ul {
            display: block;
        }
    
        .nav-container-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 20px;
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
            padding-right: 15px;
            padding-left: 10px;
        }

        .logo {
            width: 125px;
            }

    /* main page styles */


        .quote-box {
            margin-right: 40px;
            margin-left: 40px;
            margin-top: 150px;
            width: 220px;
            padding: 50px 20px 30px 50px;
        }

        .our-home {
            max-width: 350px;
        }

        .home-message {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .house-features {
            padding-bottom: 50px;
        }


        .double-plain-image {
            height: auto;
            margin: 0;
            padding-right: 0;
            padding-left: 0;
            width: 100%;
        }

        .slide-in-image {
            max-width: 100%;
            filter: none;
            border-radius: 0px;
        }

        .double-plain {
            padding-top: 60px;
            padding-bottom: 50px;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 90%;  
        }

        .nav-callout {
            max-width: 70%;
        }
       
        .flickity-page-dots {
            display: none;
        }

        ul.footer-menu {
            gap: 8px;
        }

        .footer {
            margin-top: 0;
        }

    /* LARGE TEXT page top styles */

        .page-top-highlight {
            padding-right: 5%;
        }

        .page-top-highlight h1 {
            padding-right: 10px;
        }

        .page-top-highlight h2 {
            text-align: justify;
        }

    /* gallery - the house  - page styles */

        .large-img-description {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        .thumbs-image-row {
            padding-left: 10px;
            padding-right: 10px;
        }

        .large-img-description :nth-child(2) {
            order: -1;
        }

        .featured-text {
            padding: 20px;
        }

        img.featured {
            max-width: 100%;
            border-radius: 0;
        }

        .gallery-thumb {
            max-width: 30%;
            height: auto; 
            border-radius: 1px;
        }

        .gallery-display-row-alt {
            margin: 5px 100px;
        }

    /* discover boxes styling */

        .to-do-image > img {
            max-width: 100vw;  
            max-height:max-content;
        }

        .to-do-links {
            max-width: 85%;
        }

        .to-do-image-box {
            padding: 10px 0 10px 0;
        }

        .grid-it-discover  {
            display: flex;
            flex-direction: column;  
        }

        .grid-it-discover section:nth-child(4) {
            order: 3;  
        }

        .grid-it-discover section:nth-child(3) { 
            order: 4; 
        }

        .to-do-list-box {
           width: 100vw;
           margin: 0;
        }

        hr {
            display: block;
            border: none;
            color: #bbb;
            background-color: #bbb;
            height: 1px;
            /* margin: 0 20px; */
            width: 100%;
            }

    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) and (max-width: 767px) {

        .grid-it-index {
            display: block;
        }

        .container {
            padding: 10px 0;
        }

    /* toggle and nav styling */
    
         .nav-toggle {
            display: block;
        }

        .nav-hide {
            display: none;
        }

        .nav-nav, li {
            margin-bottom: 5px;
        }

        .nav-main {
            margin-top: 20px;
            width: 100%;
            overflow: hidden;
        }

        .nav-main ul {
            display: block;
        }
    
        .nav-container-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom: 20px;
        }

        .nav-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 20px;
            padding-right: 15px;
            padding-left: 10px;
        }

    /* main page styles */

        .home-message {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        .slide-in-image {
            max-width: 100%;
            filter: none;
            border-radius: 0px;
        }
        
        .double-plain {
            padding-top: 60px;
            padding-bottom: 50px;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            max-width: 70%;  
        }
        
    /* LARGE TEXT page top styles */

        .page-top-highlight {
            padding-right: 5%;
        }

        .page-top-highlight h1 {
            padding-right: 10px;
        }

        .page-top-highlight h2 {
            text-align: justify;
        }

    /* gallery - the house  - page styles */

        .large-img-description {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        .thumbs-image-row {
            padding-left: 10px;
            padding-right: 10px;
        }

        .large-img-description :nth-child(2) {
            order: -1;
        }

        .featured-text {
            padding: 30px;
            max-width: 600px;
        }

        img.featured {
            max-width: 100%;
            border-radius: 0;
        }

        .gallery-thumb {
            max-width: 20%;
            height: auto; 
            border-radius: 1px;
        }

        .gallery-display-row-alt {
            margin: 5px 100px;
        }

    /* discover boxes styling */

        .to-do-image > img {
            max-width: 100vw;  
            max-height:max-content;
        }

        .to-do-links {
            max-width: 400px;
        }

        .to-do-image-box {
            padding: 0;
        }

        .grid-it-discover  {
            display: flex;
            flex-direction: column;  
        }

        .grid-it-discover section:nth-child(4) {
            order: 3;  
        }

        .grid-it-discover section:nth-child(3) { 
            order: 4; 
        }

    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
    
     /* main page styles */

        .double-plain {
            max-width: 300px;
        }
    
    /* gallery - the house  - page styles */

        .large-img-description {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0;
            padding-right: 0; 
            padding-bottom: 0;
        }

        .large-img-description :nth-child(2) {
            order: -1;
        }

        img.featured {
            max-width: 100%;
        }

        .featured-text {
            padding: 30px;
            max-width: 700px;
        }

        .gallery-thumb {
            max-width: 18%;
            height: auto; 
            border-radius: 1px;
        }

        .thumbs-image-row {
            padding-left: 10px;
            padding-right: 10px;
        }

    /* discover boxes styling */

        .to-do-image > img {
            max-height: 75vh;  
        }

        .to-do-links {
            max-width: 300px;
        }

    }

    
    @media only screen and (min-width: 767px) and (max-width: 920px) {

    /* at this screen size, maybe we show 2 pictures on top of each other 
    with a display non/block class toggle, change image to 50vh if we do   */
   
    /* discover boxes styling */

        .to-do-image > img {
            max-height: 60vh;  
        }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1200px) {
        
    /* main page styles */   

        .nav-callout {
            margin-bottom: 100px;
        }

        .double-plain {
            max-width: 450px;
        }

        h2.double-plain-header {
            padding-top: 50px;
        }

        .house-features {
            padding-bottom: 150px;
        }
    }   



/* not in use now, but not ready to get rid of yet */

    /* hr {
        border: none;
        color: #bbb;
        background-color: #bbb;
        height: 1px;
        margin: 10px 20px;
        } */

    /* eliminating double-pebble for now but leaving the styling in just in case I want to use it in future edits */

    /* .double-pebble {
        background-color: rgba(235, 165, 104, 0.146);
        border-radius: 20% 30% 50% 40%;
        margin: 60px 40px 25px 40px;
        padding: 60px 25px 0 35px;
        text-align: center;
        overflow: hidden;
    } */